form
{
  margin: 5%;
  padding: 1%;
}
.submit_align{
  display: flex;
  flex-direction: column;
}
.row
{
  margin: 2%;
}
section{
  background-color: rgb(218 217 217 / 20%);
    border-radius: 2%;
}
form div label{
    text-align:left !important;
}